{{> menu active="about"}}

<div class="columns">
<div class="column is-one-quarter">
<div class="card">
  <header class="card-header"><p class="card-header-title is-centered">Platform Engineer</p></header>
  <div class="card-image">
    <figure class="image is-256x256">
      <img
        src="https://res.cloudinary.com/dh7gl6628/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1742275484/IMG_20240715_130123_nca9nq.jpg"
        alt="Profile"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Michael O'Driscoll</p>
      </div>
    </div>

    <div class="content">
       <p>Email: geralt.odriscoll@gmail.com</p>
       <p>Phone: +353876569349</p>
    </div>
  </div>
</div>
</div>
<div class="column is-one-quarter">
<div class="card">
  <header class="card-header"><p class="card-header-title is-centered">System Admin</p></header>
  <div class="card-image">
    <figure class="image is-256x256">
      <img
        src="https://res.cloudinary.com/dh7gl6628/image/upload/v1769628409/Odin_wpqt0p.jpg"
        alt="Profile"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Odin</p>
      </div>
    </div>

    <div class="content">
       <p>Email: valhalla.admin@asgard.org</p>
       <p>Phone: +ᚨᚱᚨ-ᚹᛟᚾ-ᚾᛁᚾ</p>
    </div>
  </div>
</div>
</div>
</div>