
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{{#each ec2s}}'{{time}}'{{#unless @last}}, {{/unless}}{{/each}}],
      datasets: [{
        label: 'CPU',
        data: [{{#each ec2s}}{{CPU}}{{#unless @last}}, {{/unless}}{{/each}}],
        borderWidth: 1
      }]
    },
    options: {
      animation: false,
      scaleShowLabels : false,
      scales: {
        x: {
          display: false
        },
        y: {
          beginAtZero: true
        }
      }
    }
  });
  setInterval(() => {
location.reload();
}, 30000);
</script>

