<div class="box">
  <article class="media">
    <div class="media-left">
    <span class="icon is-small has-text-link">
    <i class="fa-solid fa-crow"></i>
    </span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Odin's Opinion</strong> <small>{{opinionDate}}</small>
          <br />
          {{opinion}}
        </p>
      </div>
    </div>
  </article>
</div>