<div class="box">
  <article class="media">
    <div class="media-left">
        <figure class="image is-64x64">
        <img src="https://res.cloudinary.com/dh7gl6628/image/upload/v1769628409/Odin_wpqt0p.jpg" alt="Image" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Odin's Commented</strong> <small>{{opinionDate}}</small>
          <br />
          {{opinion}}
        </p>
      </div>
    </div>
  </article>
</div>