
<div class="columns">
  <div class="column"><div class="box">
  <article class="media">
    <div class="media-left">
    <span class="icon is-small has-text-link">
    <i class="fas fa-clock"></i>
    </span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Uptime</strong>
          <br />
          {{uptime}}
        </p>
      </div>
    </div>
  </article>
</div></div>
<div class="column is-1 is-vcentered"><div class="buttons are-large is-centered">
  {{#unless flag}}
  <button class="button is-success is-vcentered">OK</button>
  {{/unless}}
  {{#if flag}}
  <button class="button is-danger is-vcentered">BAD</button>
  {{/if}}
</div></div>
  <div class="column"><div class="box">
  <article class="media">
    <div class="media-left">
    <span class="icon is-small has-text-link">
    <i class="fas fa-microchip"></i>
    </span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Used Memory</strong>
          <br />
          {{memory}}
        </p>
      </div>
    </div>
  </article>
</div></div>
</div>



